@import '../../../styles/settings.scss';

.main {
    background: $color-primary; 
    padding-inline: 100px;
    font-weight: bold;
    font-size: 11px;
    padding-block: 10px;
    max-width: 100%;
    margin-left: 0;

    h1 {
        font-weight: bold;
    }

    p {
        font-weight: lighter;
    }  
}

@media (max-width: 991px) {
    .main {
        text-align: center;
    }
}