@import '../../../styles/settings.scss';

.Carousel {
    max-height: 50rem;
    
    .carousel-inner {
      max-height: 40rem;
      position: relative;
    }
  
    .carousel-item {
      height: 550px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 40% 40%;
        opacity: 0.8;
      }

      .carousel-caption {
        color: $color-dark;
        font-size: 40px;
        font-weight: bold;
        h3 {
          font-weight: bold;
          font-size: 45px;
        }
      }
    }
  }

  @media (max-width: 767px) {

    .Carousel {
    .carousel-item {
      height: 300px;
      img {
        width: 50%;
        height: 100%;
      }

      .carousel-caption {
        display: block!important;
        color: $color-dark;
        font-size: 10px;
        font-weight: bold;
        h3 {
          font-weight: bold;
          font-size: 15px;
        }
      }
    }
  }
}