@import './settings.scss';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-text;
  font-size: ($base-size * 1.1);
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

:global(.container) {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

@import "./typography.scss";