$color-light: #fff;
$color-dark: #2f3542;
$color-primary: #74b9ff;
$color-second: #4681f4;
$color-third: #ff7675;
$color-border: #e4e4e4;

$font-text: 'Noto Sans', sans-serif;

$radius: 5px;
$base-size: 13px;